<div class="ui large basic modal" id="filerobot-content">
    <div id="filerobot-widget"></div>
</div>

{% block javascripts %}
    <link rel="stylesheet" type="text/css"
          href="https://scaleflex.cloudimg.io/v7/plugins/filerobot-widget/stable/filerobot-widget.min.css"/>
    <script type="text/javascript"
            src="https://scaleflex.cloudimg.io/v7/plugins/filerobot-widget/stable/filerobot-widget.min.js"></script>

    <script>
        $(document).ready(function() {
            const container = '{{ filerobot_config("getToken") }}';
            const templateId = '{{ filerobot_config("getTemplateId") }}';
            const uploadDir = '{{ filerobot_config("getUploadDir") }}';

            const Filerobot = window.Filerobot;

            if (container && templateId) {
                const filerobot = Filerobot.Core({
                    securityTemplateID: templateId,
                    container: container
                });

                const Explorer = Filerobot.Explorer;
                const XHRUpload = Filerobot.XHRUpload;
                const ImageEditor = Filerobot.ImageEditor;
                const Webcam = Filerobot.Webcam;

                filerobot
                    .use(Explorer, {
                        config: {
                            rootFolderPath: uploadDir ?? '/'
                        },
                        target: '#filerobot-widget',
                        inline: true,
                        width: '100%',
                        height: 530,
                        disableExportButton: false,
                        hideExportButtonIcon: true,
                        preventExportDefaultBehavior: true,
                        resetAfterClose: true,
                        dismissUrlPathQueryUpdate: true,
                        locale: {
                            strings: {
                                export: 'Insert'
                            }
                        },
                    })
                    .use(XHRUpload)
                    .use(ImageEditor, {
                        cloudimageToken: templateId
                    })
                    .use(Webcam)
                    .on('export', function (files, popupExportSuccessMsgFn, downloadFilesPackagedFn, downloadFileFn) {
                        files.forEach((selected, key) => {
                            let link = selected.link;

                            let url = new URL(link);
                            let width = selected.file.info.img_w;
                            let height = selected.file.info.img_h;

                            if (!link.includes('width=')) {
                                link += ('&width=' + width);
                            } else {
                                width = url.searchParams.get("width");
                            }

                            if (!link.includes('height=')) {
                                link += ('&height=' + height);
                            } else {
                                height = url.searchParams.get("height");
                            }

                            const thumbLink = link + '&width=200&height=200'

                            $('[data-form-collection="add"]').trigger('click');
                            let lastChild = $('[data-tab="media"]').find('[data-form-collection="item"]:last-child');
                            lastChild.find('.filerobot-path input').val(link)
                            lastChild.find('.filerobot-src').attr('src', thumbLink)
                            lastChild.find('.filerobot-src').removeClass('hidden')
                        })
                        $('#filerobot-content').modal('hide');
                        files = [];
                        return false;
                    });
            }

            $(".filerobot-trigger").click(function () {
                window.currentFilerobotPosition = $(this).data('position');
                $('#filerobot-content').modal('show');
            });
        })
    </script>
{% endblock %}
